<h1>Login</h1>

<div ng-if="error" class="alert alert-danger">
  {{error}}
</div>

<input
  ng-model="user.username"
  class="form-control"
  placeholder="username"/>
  
<input
  ng-model="user.password"
  class="form-control"
  placeholder="password"
  type="password"/>

<button
  ng-click="login(user)"
  class="btn btn-primary btn-block">
  
  Login
  
</button>

<a href="/auth/google"
   class="btn btn-danger btn-block">
  <span class="fa fa-google-plus"></span>
  Google
</a>

<a href="/auth/facebook"
   class="btn btn-primary btn-block">
  <span class="fa fa-facebook"></span>
  Facebook
</a>
