<h1>Profile</h1>

<input  ng-model="currentUser.username"  class="form-control" placeholder="username"/>
<input  ng-model="currentUser.password"  class="form-control" placeholder="password" type="password"/>
<input  ng-model="currentUser.firstName" class="form-control" placeholder="first"/>
<input  ng-model="currentUser.lastName"  class="form-control" placeholder="last"/>
<input  ng-model="currentUser.email"     class="form-control" placeholder="email" type="email"/>
<input  ng-model="currentUser.roles"     class="form-control" placeholder="roles"/>
<button ng-click="update(currentUser)"   class="btn btn-primary btn-block">Update</button>
